body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.calc-body {
    background-color: #504e53;
    width: 310px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.calc-text {
    margin: 0 10px 0 5px;
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    text-align: right;
    width: auto;
}

.calc-window-buttons {
    margin-left: 10px;
    font-size: 0px;
}

.close {
    color: #ff5f57;
    font-size: 40px;
}

.minimise {
    color: #ffbb2e;
    font-size: 40px;
}

.maximise {
    color: #29c740;
    font-size: 40px;
}


.button {
    box-sizing: border-box;
    border:1px solid #504e53;
    font-size: 25px;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    color: #fff;
}

.button.normal {
    width: 25%;
    background-color: #7d7b7f;
    text-align: center;
}

.button.operator {
    width: 25%;
    text-align: center;
    background-color: #f28b0c;
}

.button.special {
    background-color: #626065;
    font-size: 25px;
    width: 25%;
    text-align: center;
}

.button.double {
    width: 50%;
    background-color: #7d7b7f;
    text-align: center;
}

.last-left {
    border-bottom-left-radius: 10px;
}

.last-right {
    border-bottom-right-radius: 10px;
}

.calc-button-row {
    font-size: 0;
}
